@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

@media (max-width: 768px) {

  * {
    font-family: 'Inter', sans-serif;
  }

  #root {
    display: flex;
    justify-content: center;
  }

  main {
    min-height: 177px;
    max-height: 177px;
    min-width: 553px;
    max-width: 553px;
    overflow: hidden;
    border-radius: 8px;
  }

  .ErrorComponent, .LogoCropper {
    background-color: #F2F5F8;
    border: none;
  }
}