@media (max-width: 768px) {
  .ErrorComponent article {
    display: flex;
  }

  #atentionIcon {
    min-width: 114px;
    min-height: 114px;
    background-color: #C3CBD5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px;
  }

  #warningMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 334px;
  }
}
