@media (max-width: 768px) {
  .LogoInput{
    background-color: #7494b4;
    border: 2px dashed #C7CDDE;
    display: flex;
  }

  #styleHelperInputReceiving {
    min-width: 146px;
  }

  #logoCropped {
    background-color: transparent;
    border-radius: 50%;
    min-height: 114px;
    min-width: 114px;
    max-height: 114px;
    max-width: 114px;
    overflow: hidden;
    margin: 31px 50px 31px 31px;
  }

  .LogoInput section {
    align-items: center;
    display: flex;
    justify-content: center;
    justify-self: center;
    min-height: 177px;
  }

  .InputReceiving section div {
    text-align: center;
  }

  .InputReceiving section div p {
    color: #495567;
    font-weight: 400;
    margin: 5px;
  }

  .InputReceiving section div p span img {
    border-radius: 1px;
    margin-right: 12px;
  }

  .InputReceiving section div label {
    color: #677489;
    font-weight: 300;
  }
}
